AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /var/www/html/gestion-usuarios/.htpasswd
Require valid-user

RedirectMatch 404 /\.git
RedirectMatch 404 /\info
RedirectMatch 404 README.md
